[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
surprise = "*"
numpy = "==1.26.4"
matplotlib = "*"
pipfile = "*"
tensorflow = "*"
keras = "*"
ipykernel = "*"
pandas = "*"
seaborn = "*"
scikit-learn = "*"
jinja2 = "*"
keras-tuner = "*"

[dev-packages]

[requires]
python_version = "3.12"
